*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	height: 100vh;
	background-color: #92e492;
}

ul{
	list-style-type: none;
	float: right;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #90745b;
	color: #000;
}

ul li.active a{
	background-color: #90745b;
	color: #000;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title h1{
    color: #fff;
    font-size: 40px;
    margin-bottom: 3px;
}

.title p{
	font-size: 20px;
	color: #fff;
}

img{
	border: 5px solid #90745b;
	max-width: 300px;
    margin: 20px;
}

section {
  text-align: center;
  padding: 40px;
  background-color: #85e085;
}

section h2 {
  margin: 0;
}

section p {
  margin-top: 0;
  align-items: center;
}

.color {
  background-color: #a0e7a0;
}

.color h3{
	margin: 0;
}

.color p{
	margin-top: 0;
    align-items: center;
}

video{
	max-width: 500px;
	margin: 20px;
	border: 5px solid #90745b;
}

.social {
	background-color: #adebad;
}